{% extends "index.html" %}
{% block content %}
      <div id="map_box" class="bdg"> 

       <div class="text">

      <h1>Мебельная фурнитура</h1>
        <div class="descr"></div>
     <p> <img src="../static/furniture.png" alt="Фурнитура для изготовления мебели" width="533" height="190" title="Фурнитура для изготовления мебели"></p>

     <p>Очень важной составляющей любого кухонного гарнитура, которая напрямую влияет на его качество (так же, как материалы, из которых он сделан, или проект, по которому он сделан).</p>

    <p>Фурнитура – это довольно большой ассортимент механизмов и систем, служащих для увеличения функциональности мебели.</p>

    <p>Если говорить о кухонных гарнитурах, то здесь, чаще всего используются:</p>
    <ul>
<li>Петли для фасадов</li>
<li>Выдвижные механизмы (направляющие)</li>
<li>Подъемные механизмы (подъемники и лифты, всевозможные подъемные системы)</li>
</ul>
<p>Кроме всего вышеперечисленного, в кухнях еще используются:</p>
<ul>
<li>Регулируемые опоры</li>
<li>Ручки</li>
<li>Навесы (для навески верхних ящиков на стену)</li>
<li>Выдвижные корзины (карго, выдвижные системы)</li>
</ul>
<p>Давайте рассмотрим основную фурнитуру, так как именно от нее в большей мере зависит качество кухни.</p>

<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
                <h2>Петли для фасадов</h2>
       <div style="float:left; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/furnitur.jpg" alt="Петли для фасадов" width="416" height="316" class="left"></div>
       <p>В зависимости от положения кухонной дверцы (относительно короба), петли бывают разными: накладными, полунакладными, штольными, вкладными, рассчитанными под определенные углы и прочие </p>
       <p>Данная фурнитура всегда находится «в работе» (дверцы кухонного гарнитура открываются и закрываются регулярно). Поэтому, она должна быть довольно качественной.</p>
</td>
</tr>
</tbody></table>


<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
                <h2>Выдвижные системы</h2>
       <div style="float:left; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/furni6.jpg" alt="Выдвижные системы" width="416" height="316" class="left"></div>
       <p>В любом кухонном гарнитуре, фасады установлены либо на мебельные петли, либо на выдвижные механизмы.</p> 
       <p>Выдвижные механизмы – это, как правило, системы выдвижения для выдвижных ящиков (либо системы, которые сами являются выдвижными ящиками).</p>

       <p>Это такая же используемая фурнитура, как и петли.</p>
       <p>В любой кухне есть выдвижные ящики, так как они очень удобны в эксплуатации.</p>
       <p>Перечень этой фурнитуры довольно большой.</p>
       <p>Рассмотрим все по порядку.</p>
       <p><strong>Тандемы и тандембоксы</strong> – это целые системы (довольно сложные) выдвижения с «самодоводным» механизмом. Причем тандемы – это системы для выдвижных ящиков (сделанных из того же ДСП), а тандембоксы – это уже готовые системы, являющиеся уже как бы готовыми ящиками (для их сборки, как правило, нужно только одно дно из ДСП или МДФ, которое будет определять их ширину).</p>
 


</td>
</tr>
</tbody></table>



<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
                  <p><strong>Метабоксы</strong> представляют собой тоже готовые выдвижные системы, только более простые. Качество у них намного ниже, чем у предыдущих.</p>
                         <div style="float:right; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/furni3.jpg" alt="Выдвижные системы" width="416" height="316" class="right"></div>
                         <p><strong>Основное отличие ящиков тандембокса и метабокса</strong>: конструкция системы выдвижения.</p>
                         <p>Конструкция у метабоксов более простая: боковые стенки из металла опираются на ролики направляющих, закрепленных внутри стола.
Тандембокс устроен технически сложнее - это совокупность двойной стенки ящика, скрывающей внутри себя механизм, и телескопических направляющих, закрепленных внутри стола. Именно конструкция определяет цену. Тандембокс со встроенным доводчиком примерно вдвое дороже метабокса с доводчиком.</p>
<p> Так же к отличиям систем можно отнести выдвижение ящиков (см. рис.): у метабокса неполное, примерно на 3/4, у тандембокса - полное. Когда это имеет значение? При малой глубине стола, тумбы неполное выдвижение ящика ухудшает обзор и усложняет процесс вынимания содержимого.</p>

<p>Начальное усилие при выдвижении ящика меньше у метабоксов, их легче выдвинуть, однако в нагруженном состоянии метабоксы сильно давят на ролики, движение становится затрудненным.</p>

<p>Допускаемая нагрузка на направляющие: у метабоксов до 25 кг; у тандембоксов 30-50кг (в некоторых модификациях 40-60)</p>
<p>Так же следует учесть звук при движении:у метабоксов шумный и глухой с некоторым ударом перед срабатыванием доводчика, у тандембокса ход заметно более тихий, плавный.</p>
       <div style="float:left; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/furni2.jpg" alt="Выдвижные системы" width="416" height="316" class="left"></div>       
              <p>Ну а обычные направляющие <strong>(шариковые или роликовые)</strong> – это бюджетный вариант рассматриваемой нами фурнитуры (хотя, шариковые (их еще называют телескопическими), хоть и просты в устройстве, но довольно качественные).</p>

              <p>Простой монтаж, легкое выдвижение и низкая цена – вот три основных составляющих популярности роликовых направляющих. Однако у данного типа направляющих существует и ряд недостатков: выдвижной ящик выдвигается не до конца, при открытии направляющие сильно шумят, выдерживают лишь небольшую нагрузку.</p>

              <p>Шариковые направляющие относятся к системе выдвижения более высокого класса чем роликовые. Среди неоспоримых достоинств шариковых направляющих – полное выдвижение сетчатых корзин и ящиков, возможность выдерживать значительную нагрузку, почти в два раза превышающую допустимую для роликовых систем, бесшумность и плавность выдвижения, высокая надежность и длительный срок службы. </p>

              <p>Поверхностно взглянув на разницу между шариковыми и роликовыми направляющими можно сказать, что они по существу делают одно и то же; позволяют открыть и закрыть ящик. Однако разница между ними очевидна, роликовые направляющие обычно используются в «бюджетных» диапазонах мебели, в виду низкой их стоимости. Шариковые направляющие, в связи с более сложной конструкцией и технологией производства не могут соперничать с роликовыми по цене, но за счет более высоких потребительских качеств широко востребованы среди потребителей ценящих качество, комфорт и надежность.</p>
</td>
</tr>
</tbody></table>


<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
                  <h2>Подъёмные механизмы</h2>
                 <p>Ну и последний вид фурнитуры для кухни – <strong>подъемные механизмы</strong>.</p>


       <div style="float:left; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/furni1.jpg" alt="Выдвижные системы" width="416" height="316" class="left"></div> 
<p>К ним могут относиться в полном смысле подъемники (которые открывают и закрывают фасад по сложной траектории, причем, фасад связан с коробом только посредством этих механизмов), и всевозможные лифты и подъемники, которые открывают или закрывают фасад, закрепленный на коробе с помощью петель.</p>

<p>
Подъемные механизмы обычно используют в конструкциях навесных шкафов, которые имеют распашной тип открытия дверей, вследствие чего, они создают ощущение некой громоздкости. Альтернативой служат дверцы, которые откидываются вверх. Благодаря такому механизму открытия доставать предметы из шкафа становиться очень удобно. При использовании таких механизмов фасады не нужно оборудовать ручками, они открываются при слабом нажатии на них.</p>

</td>
</tr>
</tbody></table>


Выбор этой фурнитуры так же очень широкий.</p>
<p>Как было сказано в начале статьи, вся эта фурнитура влияет на качество кухни. Соответственно, чтобы сделать это качество выше – фурнитура должна быть тоже довольно качественной.</p>
<p>Какие же критерии имеет качественная фурнитура?</p>
<p>А они могут быть следующими:</p>
<ul>
<li>Материал, из которого она сделана</li>
<li>Количество рабочих циклов (например, открытия-закрытия)</li>
<li>Гарантия</li>
<li>Цена</li>
<li>Производитель</li>
</ul>
<p>Из вышеприведенного списка, основным критерием качества можно считать «производителя».</p>
<p>Применяя фурнитуру зарекомендовавших себя в течение длительного времени производителя (например, тот же «Blum» или «Hettich»), за качество изделия, на которое эта фурнитура будет установлена, можно не переживать.</p>
<p>На этом все.</p>
<p>До встречи.</p>
<br><br>
</div>
</div>
{% endblock %}


{% block content1 %}
<div class="header" style="background-image: url(/../static/cover2.jpg); background-position:top; min-height: 1700px"> 
{% endblock %}

{% block content2 %} <body style="background-color: #b6b6b6" ;=""> {% endblock %}
