{% extends "index.html" %}
{% block content %}
      <div id="map_box" class="bdg"> 

       <div class="text">

      <h1>Контакты</h1>
        <div class="descr"></div>
     <p><img src="../static/kont.png" alt="Контакты" width="533" height="190" title="Контакты"></p>
     <h3>Контактная информация</h3>
     <p>Уважаемые посетители сайта, самый быстрый способ связаться с нами — позвонить. Если же по каким-либо причинам вы не можете позвонить или вам не удалось до нас дозвониться, напишите нам! Наш менеджер свяжется с вами в удобное для вас время!</p>
     <p>Телефоны: +38 099 09 08 346, +38 097 65 94 665.</p>
     <p>E-mail: artem_alexeev@rambler.ru</p>
     <p>Skype: melax13
     <p>График работы: Пн-Пт: 9:00-17:00, Сб: 10:00-13:00</p>
</div></div>
{% endblock %}


{% block content1 %}
<div class="header" style=" background-image: url(/../static/kontakti.jpg); background-position:top; min-height: 910px"> 
{% endblock %}

{% block content2 %} <body style="background-color: #b6b6b6" ;=""> {% endblock %}




