{% extends "index.html" %}
{% block content %}
      <div id="map_box" class="bdg"> 

       <div class="text">

      <h1>Материалы для изготовления мебели </h1>
        <div class="descr"></div>
     <p><img src="../static/material.png" alt="Материалы и цвета декора для изготовления мебели" width="533" height="190" title="Материалы и цвета декора ДСП для изготовления мебели"></p>
     <h3> Особенности и отличия, недостатки и преимущества разбираемся вместе.</h3>
     <p> Для того чтобы выбор материала для собственного шкафа или комода был осмысленным, необходимо знать достоинства и недостатки мебельных материалов. Чем, например отличается ДСП от МДФ? Насколько дешевле мебель, если купить необработанный лист ДСП и затем его заламинировать, чем платить за ламинированный ДСП? Какие вообще материалы используются для производства современной мебели. </p>
     <h2> ДСП
       (древесно-стружечная плита)</h2>
      
        <div style="float:left; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/dsp.jpg" alt="ДСП - древесно-стружечная плита" width="200" height="200" ></div> <p> ДСП изготавливается из древесных опилок и стружек, пропитанных связывающим   веществом, а именно — формальдегидными смолами. ДСП - самый распространенный   материал для корпусной мебели, встроенных шкафов и оформления интерьеров. ДСП широко применяется и в строительстве - возведении крыш и перегородок. Для кухонь и ванн используется специальный   вид ДСП — с повышенной влагостойкостью. </p>
       <p style="text-indent:10px">Все более широкую популярность набирают ДСП сверхлегкие и огнеупорные. 
         Благодаря своей невысокой стоимости и великолепным строительным свойствам ДСП — самый широко   используемый материал для изготовления мебели эконом-класса. Большая часть офисной мебели   производится именно из ДСП. </p>
       <p style="text-indent:10px">Однако есть у этого материала и свои минусы - это вредные формальдегидные выделения. </p>
       <p style="text-indent:10px"><em>Формальдегиды</em> при большой концентрации их воздухе - опасны для человека. По экологическим стандартам разделяют ДСП класса Е1 и класса Е2. ДСП класса Е1 отличается большей экологической чистотой, показатель эмиссии формальдегида у   нее заметно ниже и производители всячески борются за сведение этого значения к минимуму. </p>
       <p style="text-indent:10px">Самые жесткие требования по выделениям формальдегида из ДСП - в Японии.  ДСП класса Е2 имеют менее жесткий стандарт по выделению формальдегидов. Мебель из ДСП класса Е2 запрещается использовать для детских помещений. Итак, резюмируем: </p>
       <table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
       <p>
       <strong>Плюсы ДСП:</strong> </p>
       <ul>
       <li>водостойкость, </li><li>прочность,
       </li><li>легкость в   обработке,
       </li><li> ДСП хорошо "держит" гвозди и шурупы, 
       </li><li>имеет низкую цену. </li></ul>
       
      
       <p><strong>Минусы ДСП:</strong></p>
       <ul> <li>наличие формальдегидных смол,
         </li><li>ДСП — очень твердый материал, который не   допускает тонкой обработки.              
       </li></ul>
       </td>
  </tr>
</tbody></table>
<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
       <h2>
       ЛДСП (ламинированная ДСП)</h2>
     
       <div style="float:left; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/ldsp.jpg" alt="ЛДСП - ламинированный ДСП, дсп с меламиновым покрытием" width="200" height="200" class="left"></div> <p>Ламинированный ДСП (ЛДСП) - как это уже понятно из названия - облицованная пленкой (бумажно-смоляными   пленками) ДСП, ДСП с меламиновым покрытием. Ламинат или пленка получается из бумаги определенного орнамента, фактуры (имитации пород дерева). После пропитки меламиновой   смолой бумага становится жесткой и хрупкой; затем с помощью прессования пленка   надежно соединяется с поверхностью ДСП. Существует два метода соединения пленки с поверхностью ДСП - ламинирование и каширование. Каширование - процесс облицовки ДСП полностью   отвержденными бумажно-смоляными пленками с предварительным нанесением на плиту-основу клеевого   состава. </p>
     <p>Ламинирование - процесс нанесения декоративного покрытия под действием давления и воздействия температуры. Ламинирование считается более надежным и дорогим способом изготовления ЛДСП. Вне зависимости от способа нанесения такое ДСП называется ДСП с меламиновым покрытием. Оно широко используется для изготовления мебели, заполнения <a href="http://www.dspkomplekt.ru/dveri.html">двери типа купе</a> и прочих эдементов декора интерьера.</p></td>
  </tr>
</tbody></table>
<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
        <p>
       <strong>Плюсы ЛДСП:</strong></p>
        <ul><li>многообразие   цветов и фактур, имитация фактуры натурального дерева, </li><li> устойчивость механическим повреждениям, </li><li>устойчивость к термическому воздействию   ( к горячим кофейникам и сковородкам). </li></ul>
      <p>
       <strong>Минусы ЛДСП:</strong> 
       </p><ul> <li>наличие формальдегидных смол в основе плиты ДСП,
         </li><li>твердый материал, который не   допускает тонкой обработки.              
       </li></ul>
       </td>
  </tr>
</tbody></table>
<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
       <h2>
       ДВП (древесно-волокнистая плита)</h2>
        
       <div style="float:left; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/dvp.jpg" alt="ДВП - оргалит, Древесно волокнистая плита для мебели" width="200" height="200" class="left"></div> <p> Древесноволокнистая плита - это ничто иное как хорошо всем известный оргалит. Оргалит - основной материал для изготовления задних стенок шкафов, днищ выдвижных ящиков недорогой мебели (в более дорогой мебели, как правило, применяют фанеру, как более устойчивый к нагрузкам и механическому воздействию материал). ДВП получается горячим прессованием массы, состоящей из целлюлозных волокон, воды, синтетических полимеров и специальных добавок (такой метод еще называется "метод мокрого прессования"). Именно поэтому тыльная сторона ДВП   имеет такую специфическую фактуру - "сеточкой". </p>
        <p>Лицевая сторона ДВП, как правило облицовывается - покрывается меламиновой пленкой. Из-за технологических особенностей производства ДВП - ДВП не бывает толстой. </p></td>
</tr>
</tbody></table>
<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
      <p>
       <strong>Плюсы ДВП:</strong></p> <ul> <li>низкая цена, </li><li>большой срок эксплуатации,</li><li> хорошая теплоизоляция.</li></ul>
       <p>
       <strong>Минусы ДВП:</strong></p><ul><li> боится влаги
       </li><li> спектр использования ограничен специфичностью материала.
       </li></ul> 
       </td>
</tr>
</tbody></table>
<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td>
       
        <h2>
       МДФ (MDF, Medium Density Fiberboard - Древесно-волокнистые плиты средней плотности)</h2>
       
      <div style="float:left; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/mdf.jpg" alt="МДФ - Древесно-волокнистые плиты средней плотности" width="200" height="200" class="left"></div><p>МДФ плита - разновидность ДВП плит, обладающая лучшими качествами и имеющая широкий спектр применения. При изготовлении МДФ плит содержание вредных формальдегидных смол ничтожно и сравнимо с выделениями формальдегидов натуральным деревом. Плита МДФ обладает очень высокими показателями экологичности. Благодаря более мелкой и однородной текстуре и специфичной технологии производства, плита МДФ более прочная чем плита ДСП (почти вдвое), устойчива к воздействию влаги и огня. </p>
       <p>МДФ плиты нашли широкое применение в строительстве (из МДФ делают  пол, стены, потолки), производстве мебели и еще многих других отраслях не связанных со строительством. В частности МДФ используется для изготовления акустических систем. </p></td>
</tr>
</tbody></table>
<table width="100%" border="0" cellpadding="2">
              <tbody><tr>
                <td><p>
       <strong>Плюсы МДФ:</strong> </p><ul> <li>экологически чистый материал, </li><li>поддается самой тонкой обработке, </li><li>стоит намного дешевле массива дерева, </li><li>большой срок эксплуатации.</li></ul>
       <p>
       <strong>Минусы МДФ:</strong></p>
       <ul> <li> отсутствие развитого рынка МДФ в РФ (из-за чего цена МДФ в России сравнительно высока).
       </li></ul> 
       </td>
</tr>
</tbody></table>
<table width="100%" border="0" cellpadding="2">
       <tbody><tr>
              <td>
       <h2>
       Фанера (древесно-слоистые листы) </h2>
        
      <div style="float:left; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;"><img src="../static/fanera.jpg" alt="Фанера - древесно-слоистые листы" width="200" height="200" class="left"></div><p>Фанера  - многослойный строительный материал, изготавливается путем склеивания листов шпона. Толщина фанеры варьирует в зависимости от толщины слоя шпона и количества слоев.  Чтобы фанера была прочной, слои шпона накладываются так, чтобы волокна древесины были строго перпендикулярны предыдущему листу. Благодаря продольно-поперечному направлению волокон шпона, в слоях листа достигается особая прочность, а следовательно - долговечность, ударопрочность, устойчивость к нагрузкам.   </p>
       <p>Особенность производства фанеры определяют ее востребованность в строительстве и производстве мебели в частности. Фанера имеет эстетичный внешний вид,  экологически безвредна. Фанера - достаточно легкий материал.  Эти отличительные качества обусловили широкое применение фанеры при производстве мебели, в том числе  детской. Сейчас на рынке представлен большой ассортимент разновидностей фанеры: огнеупорная, влагостойкая, фанера с повышенной прочностью. </p></td>
</tr>
</tbody></table>
<table width="100%" border="0" cellpadding="2">
       <tbody><tr>
       <td><p>
       <strong>Плюсы фанеры:</strong> </p>
       <ul> <li>экологически чистый материал, </li><li>поддается самой тонкой обработке, </li><li>стоит намного дешевле массива дерева, </li><li>большой срок эксплуатации.</li></ul>
       <p>
       <strong>Минусы фанеры:</strong> </p>
       <ul> <li>спектр применения ограничен свойствами материала.
       </li></ul> 
       </td>
</tr>
</tbody></table>
</div></div>
{% endblock %}


{% block content1 %}
<div class="header" style="background-image: url(/../static/background.jpg); background-position:top; min-height: 1700px"> 
{% endblock %}

{% block content2 %} <body style="background-color: #b6b6b6" ;=""> {% endblock %}




