{% extends "index.html" %}
{% block content %}
      <div id="map_box" class="bdg" style="border-left-width: 0px;"> 

       <div class="text">
 <p id="prihojie"> </p>
       <h1>&nbsp;&nbsp;Детские</h1>
      <div class="container">
        <div class="col-md-2">
        <a href="../static/img/detcki/detski1.png" data-lightbox="image-1">
          <img src="../static/img/detcki/detski1_thu.png" width=100% height = 100%  class="img-rounded">
        </a>

        </div>
        <div class="col-md-2">
        <a href="../static/img/detcki/detski2.png" data-lightbox="image-1">
          <img src="../static/img/detcki/detski2_thu.png" width=100% height = 100% class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/detcki/detski3.png" data-lightbox="image-1">
          <img src="../static/img/detcki/detski3_thu.png" width=100% height = 100% class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/detcki/detski4.png" data-lightbox="image-1">
          <img src="../static/img/detcki/detski4_thu.png" width=100% height = 100% class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/detcki/detski5.png" data-lightbox="image-1">
          <img src="../static/img/detcki/detski5_thu.png" width=100% height = 100% class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/detcki/detski7.png" data-lightbox="image-1">
          <img src="../static/img/detcki/detski7_thu.png" width=100% height = 100% class="img-rounded">
        </a>
        </div>
        </div>   
    

    <br /> <br />
   
      <h1>&nbsp;&nbsp;Прихожие</h1>
      <p id="shkaf"> </p>
      <div class="container">
        <div class="col-md-2">
        <a href="../static/img/prihojie/prihoji1.png" data-lightbox="image-1">
          <img src="../static/img/prihojie/prihoji1_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/prihojie/prihoji2.png" data-lightbox="image-1">
          <img src="../static/img/prihojie/prihoji2_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/prihojie/prihoji3.png" data-lightbox="image-1">
          <img src="../static/img/prihojie/prihoji3_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/prihojie/prihoji4.png" data-lightbox="image-1">
          <img src="../static/img/prihojie/prihoji4_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/prihojie/prihoji5.png" data-lightbox="image-1">
          <img src="../static/img/prihojie/prihoji5_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/prihojie/prihoji6.png" data-lightbox="image-1">
          <img src="../static/img/prihojie/prihoji6_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        </div>

     <br /> 
      <h1>&nbsp;&nbsp;Шкафы-гардеробные</h1>
      <div class="container">
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf1.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf1_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf3.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf3_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf5.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf5_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf6.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf6_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf7.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf7_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf8.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf8_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf9.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf9_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf12.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf12_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf13.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf13_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf14.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf14_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf19.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf19_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf20.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf20_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf21.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf21_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf22.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf22_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf23.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf23_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf24.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf24_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf25.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf25_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf26.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf26_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>

        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf27.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf27_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf28.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf28_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf29.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf29_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf30.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf30_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf31.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf31_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-2">
        <a href="../static/img/shkaf/shkaf32.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf32_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
      </div>

  <p id="k_stoli"> </p>
  <div class="container">
        
        <div class="col-md-3">
        <a href="../static/img/shkaf/shkaf34.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf34_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-3">
        <a href="../static/img/shkaf/shkaf35.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf35_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
        <div class="col-md-3">
        <a href="../static/img/shkaf/shkaf36.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf36_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
         <div class="col-md-3">
        <a href="../static/img/shkaf/shkaf18.png" data-lightbox="image-1">
          <img src="../static/img/shkaf/shkaf18_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
        </div>
      </div>
 

        
 <br />  
      <h1>&nbsp;&nbsp;Компьютерные столы</h1>
      <div class="container">
        <div class="col-md-2">
        <a href="../static/img/k_stoli/k_stoli1.png" data-lightbox="image-1">
          <img src="../static/img/k_stoli/k_stoli1_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
      </div>
      <div class="col-md-3">
        <a href="../static/img/k_stoli/k_stoli2.png" data-lightbox="image-1">
          <img src="../static/img/k_stoli/k_stoli2_thu.png" width=100% height = 100%  class="img-rounded">
        </a>
      </div>


        </div>   
    <br /> <br /> <br />


        


        </div>
        </div>

        
      

</div></div>
{% endblock %}


{% block content1 %}
<div class="header" style="background-image: url(/../static/background.jpg); background-position:top; min-height: 1700px"> 
{% endblock %}

{% block content2 %} <body style="background-color: #b6b6b6" ;=""> {% endblock %}




